---
layout: default
title: About
permalink: /about/
---
<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                            <a href="/public/images/face.jpg" target="_blank"><img src="/public/images/face.jpg" class="img-thumbnail"></a>
                    </div>
                    <div class="col-7">
                        <p class="mt-2">
                            Hi there, I'm Mazen; I have graduated from Oregon State Univesity with a BS degree in Computer Science Applied in Artificial Intelligence; 
                            with a minor in Actuarial Science. 
                            I have worked at the Center for Genome Research & Bio-computing as a Lead GPU Computational Researcher. 
                            I am the President of <a href="http://osuai.club/" target="_blank">OSU AI Club</a>. 
                            I work on projects on <a href="https://github.com/madebymaze" target="_blank">GitHub</a> and participate in <a href="http://kaggle.com/madebymaze" target="_blank">Kaggle</a> competitions to distract me from school. 
                            <a href="mailto:mail@madebymaze.xyz?subject=I%20would%20Like%20to%20Hire%20You!&body=Dear%20Mazen,%0D%0A%0D%0AI%20would%20like%20to%20hire%20you%20for%20a%20..." target="_blank">I am available for work</a>. You could <a href="#contact">contact me</a>.  
                        </p>
                        <div class="text-center mt-4">
                            <a href="mailto:mail@madebymaze.xyz?subject=I%20would%20Like%20to%20Hire%20You!&body=Dear%20Mazen,%0D%0A%0D%0AI%20would%20like%20to%20hire%20you%20for%20a%20..." target="_blank" class="btn btn-primary">Hire Me!</a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-12 text-center">
                <p id="calendar">
                    Loading the data just for you.
                </p>
                <script>GitHubCalendar("#calendar", "madebymaze");</script>
                <hr>
            </div>
            <div class="col-12">
                <ul class="timeline">
                    {% for member in site.data.about.timeline %}
                    {% if member.type == "event" %}
                        <li class="clearfix no-float"></li>
                        </ul>
                        <p class="text-center">
                            <p class="text-center"><strong>{{ member.title }}</strong></p>
                            <p class="text-center"><em>{{ member.date }}</em></p>
                        </p>
                        <ul class="timeline">
                    {% endif %}
                    {% if member.type == "year" %}
                        <li class="clearfix no-float"></li>
                        </ul>
                        <p class="text-center">
                            <strong>{{ member.title }}</strong>
                        </p>
                        <ul class="timeline">
                    {% endif %}
                    {% if member.type == "job" %}
                        {% assign mod = forloop.index | modulo:2 %}
                        {% if mod == 0 %}
                        <li>
                        {% endif %}
                        {% if mod == 1 %}
                        <li class="timeline-inverted">
                        {% endif %}
                            <div class="timeline-badge">
                                <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading  mt-2">
                                    <h4><strong>{{ member.position }}</strong></h4> <h5>{{ member.title }}</h5>
                                </div>
                                <div class="timeline-body">
                                    <p>{{ member.description }}</p>
                                    {% for image in member.images %}
                                    <a href="/public/{{ image.title }}" target="_blank"><img src="/public/{{ image.title }}" title="{{ image.caption }}"  class="img-fluid" style="border-radius: 0%;"><a href="/public/{{ image.title }}" target="_blank"></a>
                                    {% endfor %}
                                </div>
                                <div class="timeline-footer">
                                {% if mod == 0 %}
                                    <p class="text-right">{{ member.date }}</p>
                                {% endif %}
                                {% if mod == 1 %}
                                    <p class="text-left">{{ member.date }}</p>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    {% endfor %}
                    <li class="clearfix no-float"></li>
                </ul>
            </div>
            <div class="col-12" id="contact">
                    <hr>
                    <h1 class="font-weight-light text-center">mail<i class="fal fa-at"></i>madebymaze.xyz</h1>
                    <ul id="contact-info">
                        <li><p>For job offers, please <a href="mailto:mail@madebymaze.xyz?subject=I%20would%20Like%20to%20Hire%20You!&body=Dear%20Mazen,%0D%0A%0D%0AI%20would%20like%20to%20hire%20you%20for%20a%20...">send me an email.</a></p></li>
                        <li><p>For general questions and advice, please see <a href="https://github.com/madebymaze/AMA" target="_blank">my AMA repository.</a></p></li>
                        <li><p>For small questions, or just to say hi, please feel free to <a href="https://twitter.com/madebymaze" target="_blank">fire me a Tweet.</a></p></li>
                        <li><p>For questions about software and tools, see <a href="https://github.com/madebymaze/setup" target="_blank">my setup.</a></p></li>
                    </ul>
                    <div id="contact-reminder">
                        <h4 class="font-weight-light">Twitter: <a href="https://twitter.com/madebymaze" target="_blank"><i class="fal fa-at"></i>madebymaze</a></h4>
                        <p class="ml-4">For informal, quick contact and questions, feel free to fire me a Tweet!</p>
                        <h4 class="font-weight-light">Email: <a href="mailto:mail@madebymaze.xyz">mail<i class="fal fa-at"></i>madebymaze.xyz</a></h4>
                        <p class="ml-4">For longer enquiries and questions, please send me an email.</p>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>