---
layout: default
title: CV
permalink: /cv/
---
<div class="container mt-5" id="cv-content">
    <h2 class="font-weight-light pl-1"><i class="fal fa-university"></i> Education</h2>
    <hr>
    <p class="lead mt-2">
        {% for member in site.data.cv.ed %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p><strong>{{ member.school }}</strong> <span id="list-courses" class="badge badge-primary" data-toggle="modal" data-target="#courses{{ forloop.index }}">Show Courses <i class="fal fa-arrow-right"></i></span></p>
                </div>
                <div class="col-auto">
                    <p class="float-right"><span class="badge badge-danger"><i class="fa fa-calendar"></i> {{ member.date }}</span></p>
                </div>
                <div class="col-12">
                    <p class="location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ member.location }}</p>
                </div>
                <ul class="col-12 pl-4">
                    <li><p>Major: <em>{{ member.major }}</em></p></li>
                    <li><p>Minor: <em>{{ member.minor }}</em></p></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </p>
    <br>
    <h2 class="font-weight-light pl-1"><i class="fal fa-university"></i> Licenses & Certifications</h2>
    <hr>
    <p class="lead mt-2">
        {% for member in site.data.cv.cert %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p><strong>{{ member.name }}</strong> (<a href="{{ member.url }}" target="_blank">{{ member.id }}</a>)</p>
                </div>
                <div class="col-auto">
                    <p class="float-right"><span class="badge badge-danger"><i class="fa fa-calendar"></i> {{ member.date }}</span></p>
                </div>
                <ul class="col-12">
                    {% for topic in member.topics %}
                    <li><p>{{ topic.name }}</p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </p>
    <br>
    <h2 class="font-weight-light pl-1"><i class="fal fa-cogs"></i> Experience</h2>
    <hr>
    <p class="lead mt-2">
        {% for member in site.data.cv.ex %}
        <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <p><strong>{{ member.position }}</strong></p>
                    </div>
                    <div class="col-auto">
                        <p class="float-right"><span class="badge badge-danger"><i class="fa fa-calendar"></i> {{ member.date }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><em>{{ member.company }}</em></p>
                    </div>
                    <div class="col-12">
                        <p class="location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ member.location }}</p>
                    </div>
                    <ul class="col-12 pl-4">
                        {% for detail in member.details %}
                        <li><p>{{ detail.statement }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        {% endfor %}
    </p>
    <br>
    <h2 class="font-weight-light pl-1"><i class="fal fa-folder-open"></i> Projects</h2>
    <hr>
    <p class="lead mt-2">
        {% for member in site.data.projects %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p><strong><a href="/projects/#{{ member.tag }}" target="_blank">{{ member.title }}</a></strong></p>
                </div>
                <div class="col-auto">
                    <p class="float-right"><span class="badge badge-danger"><i class="fa fa-calendar"></i> {{ member.date }}</span></p>
                </div>
            </div>
            <div class="row">
                <ul class="col-12 pl-4">
                    {% for detail in member.accomplishments %}
                    <li><p>{{ detail.statement }}</p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </p>
    <br>
    <h2 class="font-weight-light pl-1"><i class="fal fa-rocket"></i> Extracurricular Activities</h2>
    <hr>
    <p class="lead mt-2">
        {% for member in site.data.cv.act %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p><strong>{{ member.title }}</strong></p>
                </div>
                <div class="col-auto">
                    <p class="float-right"><span class="badge badge-danger"><i class="fa fa-calendar"></i> {{ member.date }}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ member.location }}</p>
                </div>
                <div class="col-12">
                    <p><em>{{ member.position }}</em></p>
                </div>
                <ul class="col-12 pl-4">
                    {% for detail in member.details %}
                    <li><p>{{ detail.statement }}</p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </p>
    <br>


    <h2 class="font-weight-light pl-1"><i class="fal fa-tools"></i> Skills (<span class="font-weight-bold">Proficient</span>, <u>Familiar</u>)</h2>
    <hr>
    <p class="lead mt-2">
        <div class="container-fluid">
            <div class="row">
                {% for member in site.data.cv.skills %}
                <div class="col-md-6 col-s-12">
                    <span><strong>{{ member.title }}:</strong>
                    {% if member.title == "Human Languages" %}
                        {% for tool in member.tools %}
                        <span class="badge badge-primary">{{ tool.title }} <em>({{ tool.level }})</em></span>
                        {% endfor %}
                    {% else %}
                        {% for tool in member.tools %}
                            {% if tool.proficient == "1" %}
                            <span class="badge badge-primary"><span class="font-weight-bold">{{ tool.title }}</span></span>
                            {% else %}
                            <span class="badge badge-primary"><span class="font-weight-normal"><u>{{ tool.title }}</u></span></span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </p>
    <br>


    <h2 class="font-weight-light pl-1"><i class="fal fa-download"></i> Download</h2>
    <hr>
    <p class="lead mt-2">
        <div class="container-fluid" id="download-section">
            <div class="row">
                <div class="col-md-4 col-s-12 mb-2">
                    <a class="btn btn-primary btn-lg btn-block click-btn" href="/public/pdf/CV.pdf" role="button" target="_blank"><i class="fal fa-file-pdf"></i> Curriculum Vitae</a>
                </div>
                <div class="col-md-4 col-s-12 mb-2">
                    <a class="btn btn-primary btn-lg btn-block click-btn" href="/public/pdf/Resume_AI_Position.pdf" role="button" target="_blank"><i class="fal fa-file-pdf"></i> AI - Resume</a>
                </div>
                <div class="col-md-4 col-s-12 mb-2">
                    <a class="btn btn-primary btn-lg btn-block click-btn" href="/public/pdf/Resume_WD_Position.pdf" role="button" target="_blank"><i class="fal fa-file-pdf"></i> SWE - Resume</a>
                </div>
            </div>
        </div>
        <p id="show-date" class="text-center mb-5">
        <script language="Javascript">
            document.write(new Date(document.lastModified));
        </script>
        </p>
    </p>


    {% for member in site.data.cv.ed %}
    <div class="modal fade" id="courses{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="courses{{ forloop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="coursesModalLabel">Courses List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            {% for list_courses in member.courses %}
                                <div class="col-12">
                                    <h4 class="text-center mt-1"><strong>{{ list_courses.list_name }}</strong></h4>
                                    <hr>
                                </div>
                                {% for course in list_courses.list_courses %}
                                    <div class="col-md-6 col-s-12">
                                        <ul class="row">
                                            <li class="col-m-6 col-s-12" data-toggle="tooltip" data-placement="top" title="{{ course.course_description }}"><p>{{ course.course_name }} ({{ course.course_number }})</p></li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    </p>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
