---
layout: default
title: Demos
permalink: /demos/
---
<div id="site-body">
    <ul id="lab-list">
      {% for member in site.data.lab %}
       <li id="{{ member.tag }}" class="lab-item">
           <div class="lab-label">
             <h2 class="lab-title">{{ member.title }}<span  class="lab-date">{{ member.date }}</span></h2>
             <div class="lab-hover">
               <div class="hover-img">
                 <img src="/public/{{ member.img }}" alt="">
                 <div class="hover-text">
                   <ul>
                     {% if member.code != "NONE" %}
                      <li><a href="{{ member.code }}" title="CODE"  target="_blank"><i class="fab fa-github"></i></a></li>
                     {% endif %}
                     {% if member.demo != "NONE" %}
                      <li><a href="{{ member.demo }}" title="DEMO"><i class="fa fa-globe" aria-hidden="true"  target="_blank"></i></a></li>
                     {% endif %}
                   </ul>
                 </div>
               </div>
             </div>
             <ul class="lab-details">
               <li class="lab-summary">{{ member.description }}</li>
               <li class="lab-footer">
                 <ul class="lab-tools">
                    {% for tools in member.tools %}
                      {% for mapping in site.data.mapping %}
                        {% if mapping.tool == tools.tool %}
                        <li class="lab-tools-item" title="{{ mapping.tool }}" style="margin-right: 20px;">{{ mapping.icon }}</li>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                   <div class="dropdown">
                     <button class="lab-btn lab-tools-btn" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                     <div class="dropdown-content">
                       {% if member.demo != "NONE" %}
                        <a href="{{ member.demo }}"  target="_blank">DEMO</a>
                       {% endif %}
                       {% if member.code != "NONE" %}
                        <a href="{{ member.code }}"  target="_blank">CODE</a>
                       {% endif %}
                     </div>
                   </div>
                 </ul>
               </li>
             </ul>
           </div>
       </li>
    {% endfor %}
    </ul>
    </div>