---
layout: default
permalink: /
---
<h1><b>News</b></h1>
<ul>
    {% for news in site.data.author.news %}
    <li>
    [{{news.date[0]}}-{{news.date[1]}}-{{news.date[2]}}] {{news.description}}
    </li>
    {% endfor %}
</ul>
<!-- {% for item in site.posts %}
    <div class="feed-title-excerpt-block disable-select" data-url="{{site.data.site.url}}{{item.url}}">
        <a href="{{item.url}}" style="text-decoration: none; color: #555555;">
        {% if item.status == "Ongoing" or item.status == "ongoing" %}
        <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
        <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{item.status | capitalize }}</li>
        </ul>
        <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
        {% else %}
        <p class="feed-title">{{ item.title }}</p>
        {% endif %}
        <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 200}}</p>
        </a>
    </div>
{% endfor %} -->

