---
layout: page
title: Newsletter Archive
permalink: /newsletter-archive/
---

{% assign year_grouped = site.pages | group_by: 'year' %}
{% if year_grouped.size != 1 %}
<div class="row">
    {% for year in year_grouped %}
        {% if year.name != "" %}
        <div class="col-md-6">
            <h2>{{ year.name | to_integer }}</h2>
            {% assign tags_grouped = category.items | group_by: 'tag' %}
            <ul>
                {% for page in year.items %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
{% include built-in/simple-img.html url="https://i.giphy.com/media/zXmbOaTpbY6mA/giphy.webp" caption="No newsletters" %}
{% endif %}