---
layout: page
title: Notes
permalink: /notes/
---
<div class="row">
    <div class="col-md-6">
        <h2>Online Courses</h2>
        <ul>
            {% for page in site.pages %}
                {% if page.url contains "/notes/online-courses" %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>School</h2>
        <ul>
            {% for page in site.pages %}
                {% if page.url contains "/notes/school" %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Research Papers</h2>
        <ul>
            {% for page in site.pages %}
                {% if page.url contains "/notes/research-paper/" %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>