---
layout: default
title: Projects
permalink: /projects/
---
<main class="container mt-5" id="projects-content">
    <div class="container-fluid">
        {% for member in site.data.projects %}
        <div id="{{ member.tag }}"></div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4 col-s-12">
                    <a href="/public/{{ member.image }}" target="_blank"><img src="/public/{{ member.image }}" alt=""></a>
                </div>
                <div class="col-md-8 col-s-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md col-s-12 card-title mb-0">
                                <h5><strong>{{ member.title }}</strong></h5>
                            </div>
                            <div class="col-md-auto col-s-12 mb-0">
                                <h5 class="card-text"><em>{{ member.date }}</em></h5>
                            </div>
                            <div class="col-12 mt-0 mb-2">
                                <hr>
                            </div>
                            <ul class="col-12">
                                {% for detail in member.accomplishments %}
                                <li class="ml-2"><p>{{ detail.statement }}</p></li>
                                {% endfor %}
                            </ul>
                            <div class="col-12">
                                <div class="row language-list">
                                    {% for detail in member.tools %}
                                    <p class="col-auto mr-1 badge badge-pill badge-primary language-btn {{ detail.tag }}">{{ detail.tool }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12 mt-2 bottom-column">
                                {% if member.demo != null %}
                                <a href="{{ member.demo }}" class="btn btn-primary click-btn mb-1" target="_blank"><i class="fal fa-link"></i> View Project</a>
                                {% endif %}
                                {% if member.code != null %}
                                <a href="{{ member.code }}" class="btn btn-primary click-btn mb-1" target="_blank"><i class="fab fa-github"></i> View Code</a>
                                {% endif %}
                                {% if member.code == null %}
                                <a disabled="disabled" class="non-click-btn mb-1"><i class="fal fa-eye-slash"></i> Private Code</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>