---
layout: default
title: "Home"
---

<div class="row">
  <p class="col-md-12">{{ site.data.author.bio }}</p>
  <div class="col-md-12">
    <h1 class="col-md-12 text-center"><b>News</b></h1>
    <ul class="col-md-12">
      <li>
        [2020-02-15] Got admitted for the Master's Program at Oregon State University for
        Fall 2020.
      </li>
    </ul>
  </div>
  {% if site.posts.size != 0 %}
  <div class="col-md-12">
    <h1>Newest</h1>
    <ul>
      {% for post in site.posts limit:10 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="col-md-12">
    <div class="calendar">
        <!-- Loading stuff -->
        Loading the data just for you.
    </div>
  
    <script>
        new GitHubCalendar(".calendar", "sudomaze");
    </script>
  </div>
</div>
