/* 
  Global 
*/
body {
  background: url('/public/images/UFoMIjo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
p {
  margin: 0;
  padding: 0;
}
#social-list {
  font-size:150%;
  width: 100%;
  text-align: center;
}
.social-btn{
  margin: 10px;
  color: #797979;
  transition: 0.2s;
}
#github:hover{
  color: #24292E;
}
#linkedin:hover{
  color: #0077B5;
}
#twitter:hover{
  color: #1DA1F2;
}
#email-icon:hover{
  color: #f25f70;
}
.fa-heart{
  color: #D9534F
}
#friends-list li {
  display: list-item;
  padding: 0;
  margin: 0;
  transition: 0.2s;
}
#friends-list li a:hover{
 font-weight: 500;
}
a:hover{
 font-weight: 500;
}
footer #source-code {
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 80%;
}
/* 
  Home 
*/
#home img {
  margin: auto;
  width: 30%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.2s;
  }

#home img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
#home #summary, #home #calendar {
  margin: auto;
  width: 80%;
}
/* 
  Blog 
*/
/* 
  Projects 
*/
#projects .col-3 {
  margin: auto;
  margin-bottom: 50px;
}
/* 
  CV 
*/
#cv #list-courses:hover {
  background: #0062cc;
  cursor: pointer;
}
#cv .location {
  font-size: 80%;
  margin: 0;
  padding: 0;
}
#cv #show-date {
  margin-top: 20px;
}
/* 
  Contact 
*/