/***************************************************/
/****************** GENERAL STYLE ******************/
/***************************************************/
/*
  minimal style
*/
@import "/assets/main.css";
/*
  reset
*/
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-family: "Source Serif Pro", Baskerville, "Libre Baskerville", serif;
}
h1,
h2,
h3,
h4,
h5,
p,
nav,
code,
a,
a:visited,
a:hover,
a:focus,
div,
caption {
  color: #000;
}
p {
  text-indent: 2em;
}
/* first paragraph don't indent */
h1+p,
h2+p,
h3+p,
h4+p,
blockquote+p,
.specialbox+p {
  text-indent: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
ul, ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
nav {
  font-variant: small-caps;
}
[role="button"] {
  cursor: pointer;
}