<footer class="col-md-12">
	<p>This page was last edited on {{ page.last_modified_at | date: '%d %B %Y, at %R (%Z)' }}.</p>
	<p>By <a href="http://sudomaze.dev">Mazen Alotaibi</a></p>
</footer>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"decd596a02258ad47cfa3205d","lid":"d497d3c2c1","uniqueMethods":true}) })
</script>