<nav id ="navbar" class="col-md-2">
    <a href="/"><img src="/assets/images/icon.PNG" class="img-fluid" alt="Responsive image"></a>
    <ul>
        <li><a href="/">Content</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/site">Site</a></li>
        <li><a href="/author">Author</a></li>
        <li><a href="/random-article">Random Article</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/newsletter-archive">Newsletter Archive</a></li>
    </ul>
    <span class="btn  btn-sm btn-success mt-5 mb-2 ml-auto mr-auto">Currently <b>accepting new projects</b> for Q3 2020</span>
</nav>
