<nav id ="navbar" class="col-md-2">
        <a href="/" class="d-none d-sm-none d-md-block"><img src="/assets/images/icon.PNG" class="img-fluid" alt="Responsive image"></a>
        <ul>
            <li><a href="/">Content</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/site">Site</a></li>
            <li><a href="/author">Author</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
            <!-- <li><a href="/newsletter-archive">Newsletter Archive</a></li> -->
            <!-- <li><a href="/random-article">Random Article</a></li> -->
        </ul>
        <!-- <div id="wm-100" class="text-center">
            <span class="btn btn-success mt-3 mb-3">Currently <b>accepting new projects</b> for Q3 2020</span>
        </div> -->
    </div>
</nav>
