
<header>
    <div class="dashboard disable-select">
        <div class="site-heading profile-board-col">
           <h4 class="medium">
               <a href="/">{{site.data.site.title}}</a> |
               <i id="theme-toggle" onclick="modeSwitcher()" class="far"></i>
            </h4>
        </div>
        <div class="userboard profile-board-col">
            <div class="username">
                <p class="title-sans"><a href="/about" style="text-decoration: none;">{{site.data.author.name}}</a></p>
            </div>
            <div class="userdesc">
                <p class="title-sans">{{site.data.author.description}}</p>
            </div>
            <ul class="socials">
                {% for link in site.data.author.links %}
                <li>
                    <i class="{{ link.icon }}" style="color: {{ link.color }}"></i>
                    <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="avatar disable-select" title="click me to know more">
        <a class="avatar-link" href="/about">
            <img loading=lazy src="/assets/img/profile.png" class="avatar-img" alt="avatar"/>
        </a>
    </div>
    {% include navbar.html %}
    {% include search.html %}
    {% if page.permalink != "/" %}
    <div class="main-site-navigator disable-select" id="scroll-head" onclick="window.location.assign('/');">
        <div class="back-icon">
            <svg class="ripple" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
            </svg>
        </div>
        <p class="back-p">Home</p>    
    </div>
    {% endif %}
</header>
