<ul class="pl-0 mb-0" style="float:left">
    <li class="active nav-btn" id="content-btn"><a href="#">Page</a></li>
    {% if layout.discussion == true %}
    <li class="nav-btn" id="discussion-btn"><a href="#discussion">Discussions (<a href="#disqus_thread">0 Comments</a>)</a></li>
    {% endif %}
</ul>
<ul class="pl-0 mb-0" style="float:right">
    <li class="nav-btn"><a href="https://github.com/sudomaze/sudomaze.github.io/blob/master/_site/{{ page.path }}" target="_blank">View source</a></li>
    <li class="nav-btn"><a href="https://github.com/sudomaze/sudomaze.github.io/commits/master/{{ page.path }}" target="_blank">View history</a></li>
</ul>