<div class="main-site-subheader menu disable-select">
    <div class="navbar-item">
        <a style="text-decoration: none" href="/about">
            <i class="far fa-user"></i>
            <p>About</p>
        </a>
    </div>
    <!-- <div class="navbar-item">
        <a style="text-decoration: none" href="/posts">
            <i class="far fa-file"></i>
            <p>Posts</p>
        </a>
    </div> -->
    <div class="navbar-item">
        <a
            style="text-decoration: none"
            href="/posts"
            target="_blank"
        >
            <i class="far fa-file"></i>
            <p>Technical Posts</p>
        </a>
    </div>
    <div class="navbar-item">
        <a
            style="text-decoration: none"
            href="https://sudomaze.substack.com/p/coming-soon"
            target="_blank"
        >
        <i class="fas fa-coffee"></i>
            <p>Opinion Pieces</p>
        </a>
    </div>
    <div class="navbar-item">
        <a
            style="text-decoration: none"
            href="https://publish.obsidian.md/sudomaze/"
            target="_blank"
        >
            <i class="fas fa-pencil-alt"></i>
            <p>Notes</p>
        </a>
    </div>
    <div class="navbar-item">
        <a style="text-decoration: none" href="/projects">
            <i class="fas fa-folder-open"></i>
            <p>Projects</p>
        </a>
    </div>
    <!-- <div class="navbar-item">
        <a style="text-decoration: none" href="/publications">
            <i class="fas fa-glasses"></i>
            <p>Publications</p>
        </a>
    </div> -->
    <div class="navbar-item">
        <a
            style="text-decoration: none"
            href="https://www.linkedin.com/in/sudomaze/"
            target="_blank"
        >
            <i class="fas fa-university"></i>
            <p>CV</p>
        </a>
    </div>
    <div class="navbar-item">
        <a style="text-decoration: none" href="/site">
            <i class="fas fa-info"></i>
            <p>Site</p>
        </a>
    </div>
    <!-- <div class="navbar-item">
        <a style="text-decoration: none;" href="/tags">
            <i class="fas fa-hashtag"></i>
            <p>Tags</p>
        </a>
    </div> -->
    <div class="navbar-item">
        <a style="text-decoration: none" href="/feed.xml">
            <i class="fas fa-rss"></i>
            <p>RSS</p>
        </a>
    </div>
</div>
