<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="Knowledge Continuum" property="og:site_name"/>
<meta content="A non-linear thread of important ideas weaved together to explore and understand the fabric of knowledge." property="og:description">
<meta content="{{ site.data.site.url }}/about/" property="article:author">
<title>{{site.data.site.title}}</title>
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
<meta content="article" property="og:type">
<meta content="{{ site.data.site.url }}{{ page.url }}" property="og:url">
{% else %}
<meta content="website" property="og:type">
<meta content="{{ site.data.site.url }}{{ page.url }}" property="og:url">
{% endif %}
<link rel="icon" href="{{site.data.site.favicon}}" type="image/png" sizes="16x16"/>
<link rel="canonical" href="{{site.data.site.url}}{{page.url}}"/>
<link rel="apple-touch-icon" href="{{site.data.site.profile_pic}}">
{% if site.data.author.links.twitter %}
  <meta name="twitter:site" content="@{{ site.data.author.links.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.data.site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:url" content="{{ site.data.site.url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ site.data.links.twitter.username }}">
{% endif %}