<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <img src="{{ include.url1 }}" class="img-fluid" alt="{{ include.caption1 }}">
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <img src="{{ include.url2 }}" class="img-fluid" alt="{{ include.caption2 }}">
    </div>
</div>
<figure class="wm-100" id="img-{{ include.id }}">
	<figcaption><strong>Figure {{ include.id }}:</strong> {{ include.caption1 }} and {{ include.caption2 }}</figcaption>
</figure>
