{% assign reddit = '<i class="fab fa-reddit-alien"></i>' %}
{% assign wikipedia = '<i class="fab fa-wikipedia-w"></i>' %}
{% assign twitter = '<i class="fab fa-twitter"></i>' %}
{% assign discord = '<i class="fab fa-discord"></i>' %}
{% assign facebook = '<i class="fab fa-facebook-square"></i>' %}
{% assign github = '<i class="fab fa-github"></i>' %}
{% assign kaggle = '<i class="fab fa-kaggle"></i>' %}
{% assign linkedin = '<i class="fab fa-linkedin"></i>' %}
{% assign medium = '<i class="fab fa-medium"></i>' %}
{% assign patreon = '<i class="fab fa-patreon"></i>' %}
{% assign spotify = '<i class="fab fa-spotify"></i>' %}
{% assign youtube = '<i class="fab fa-youtube"></i>' %}
{% assign pdf = '<i class="fas fa-file-pdf"></i>' %}
{% assign mbm = '<i class="fas fa-brackets-curly"></i>' %}
{% assign code = '<i class="fas fa-code"></i>' %}
{% assign drive = '<i class="fab fa-google-drive"></i>' %}
{% assign code = '<i class="fas fa-brackets-curly"></i>' %}
{% assign file = '<i class="fas fa-file-alt"></i>' %}