<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="container">
            <div class = "box">
                {% include header.html %}
                {{ content }}
                {% include comments.html %}
                {% include footer.html %}
            </div>
            <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
        </div>
        {% include foot.html %}
        {% include contextmenu.html %}
    </body>
</html>
