---
layout: default
---
<div id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/public/images/face.jpg" class="rounded-circle" alt="Mazen Alotaibi">
            </div>
            <div class="col-12">
                <p id="summary">
                        Hi there, I'm Mazen; I am a senior Computer Science student at Oregon State University, 
                        I am majoring in Computer Science Applied in Artificial Intelligence; 
                        with a minor in Actuarial Science. 
                        I work at the Center for Genome Research & Bio-computing as a Lead GPU Computational Researcher. 
                        I am the Vice President of <a href="http://osumlai.club/" target="_blank">OSU Machine Learning Club</a>. 
                        I work on projects on <a href="https://github.com/madebymaze" target="_blank">GitHub</a> and participate in <a href="http://madebymaze.xyz" target="_blank">Kaggle</a> competitions to distract me from school. 
                        <a href="https://madebymaze.xyz/cv/" target="_blank">I am available for work</a>. You could <a href="https://madebymaze.xyz/contact/" target="_blank">contact me</a>.  
                </p>
                <hr>
            </div>
            <div class="col-12 text-center">
                <p id="calendar">
                    Loading the data just for you.
                </p>
                <script>GitHubCalendar("#calendar", "madebymaze");</script>
            </div>
        </div>
    </div>
</div>