---
layout: default
---

<h1>{{page.title}}</h1>
<div class="publication-meta" style="margin-left: 20px; padding-right: 10px">
    <p id="publication-authors">
        <b>Authors:</b>{% for author in page.authors %} {% if forloop.index ==
        forloop.length %} {% if author.name == site.data.author.name %}
        <a href="{{author.url}}"><b>{{author.name}}</b></a
        >. {% else %} <a href="{{author.url}}">{{author.name}}</a>. {% endif %}
        {% else %} {% if author.name == site.data.author.name %}
        <a href="{{author.url}}"><b>{{author.name}}</b></a
        >, {% else %} <a href="{{author.url}}">{{author.name}}</a>, {% endif %}
        {% endif %} {% endfor%}
    </p>
    <p id="publication-date"><b>Date:</b> {{page.date}}</p>
    <p id="publication-publication"><b>Publication:</b> {{page.publication}}</p>
    <p id="publication-pdf">
        <b>PDF:</b>
        <a href="{{page.pdf_url}}">{{page.pdf_url}}</a>
    </p>
    <p id="publication-code">
        <b>Code:</b>
        <a href="{{page.code_url}}">{{page.code_url}}</a>
    </p>
    <p id="publication-type"><b>Type:</b> {{page.type}}</p>
</div>
<aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
    <nav class="toc">
        <header>
            <h4 class="nav__title text-center">
                {{ page.toc_label | default:
                site.data.ui-text[site.locale].toc_label | default: "Table of
                Content" }}
            </h4>
        </header>
        {% include toc.html sanitize=true html=content h_min=1 h_max=6
        class="toc__menu" %}
    </nav>
</aside>
<main>
    {% include content.html %} {% include backlinks.html %} {% include
    related.html %}
</main>
